/config.py
/config.json
/rhashira.log
/venv/
/__pycache__/
/cogs/__pycache__/
/cogs/utils/__pycache__/
/.idea/
/prefixes.json
/blacklist.json
/temp_channels.json
/migrations/revisions.json
/unused_code.py