/config.py
/config.json
/rhashira.log
/rhashira.sh
/venv/
/__pycache__/
/cogs/__pycache__/
/cogs/utils/__pycache__/
/.idea/
/prefixes.json
/blacklist.json
/temp_channels.json
/migrations/revisions.json
/unused code.py
/cogs/dbots.py